@media(max-width:1920px) and (min-width:1400px){
    .contaact{
        width: 60%;
    }

}

@media(max-width:767px){
    .nav-item{
        padding: 0;
        margin-bottom: 5px;
    }
    .navbar-light .navbar-nav .nav-link {
        display: inline-block;
    }
    .navbar-nav{
        text-align: center;
        background: #202020;
        border-radius: 20px;
        display: inline-block;
        padding: 20px 70px;
        margin-top: 20px;
    }
    .navbar-collapse{
        text-align: center;
    }
    .banner-left{
        text-align: center;
    }
    .pricing_plan{
        justify-content: center;
    }
    .single-card{
        margin-bottom: 30px;
        border: 2px solid #e0e0e0;
    }
    .contact_section{
        padding-bottom: 400px;
    }
    

}


@media(max-width:575px){
    .nav-item{
        padding: 0;
        margin-bottom: 5px;
    }
    .navbar-light .navbar-nav .nav-link {
        display: inline-block;
    }
    .navbar-nav{
        text-align: center;
        background: #202020;
        border-radius: 20px;
        display: inline-block;
        padding: 20px 70px;
        margin-top: 20px;
    }
    .navbar-collapse{
        text-align: center;
    }
    .banner-left{
        text-align: center;
    }
    .banner-left h1{
        font-size: 35px;
    }
    .banner-left p{
        font-size: 16px;
        margin-bottom: 40px;
    }
    .btn-download, .btn-feature{
        padding: 8px 21px ;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-right img{
        width:250px;
        margin-top: 30px;
    }
    .banner-left{
        height: 75vh;
    }
    .pricing_plan{
        justify-content: center;
    }
    .text h3{
        text-align: center;
    }
    .text_two h2, .text_one h2{
        font-size: 30px;
    }
    .button_section{
        text-align: center;
        margin: 20px 0;
    }
    .single-card{
        margin-bottom: 30px;
        border: 2px solid #e0e0e0;
    }
    .contact_section{
        padding-bottom: 380px;
    }
    .feature{
        margin-top: 30px;
    }
}

@media(max-width:414px){
    .banner-left{
        height: 60vh;
      }
      .banner-right img{  
        margin-top: 75px;
      }
      .btn-download{
        margin-top: 0px;
      }
      .contact_section form{
        background-color: #000;
        padding: 40px 20px;
      }
}

@media(max-width:393px){
      
      .btn-download{
          margin-top: 0px;
      }
      
}

@media(max-width:320px){
      
    .banner-left{
        height: 100vh;
    }

    .btn-feature{
        margin-left: 5px;
        margin-bottom: 6px;
    }
    .btn-download, .btn-feature{
        padding: 8px 15px;
        font-size: 13px;
    }

    
}